
<app-loader *ngIf="!dataLoaded"></app-loader>

<main *ngIf="dataLoaded | async">
    <app-navbar [user_details]="user_data"></app-navbar>

    <div class="main">
        <div class="container">
            <div class="row">
                <h1>Bienvenido a {{user_data.college_name}}</h1>
                <div class="card" *ngFor="let course of user_data.courses" style="width: 12rem;">
                    <div class="card-header">
                        {{course.course_name}}
                        Teacher: {{course.name}}
                    </div>
                </div>
            </div>  
        </div>
    </div>
</main>
