<app-loader *ngIf="!dataLoaded"></app-loader>

<main *ngIf="dataLoaded | async">
    <app-navbar [user_details]="user_data"></app-navbar>

    <div class="main">
        <div class="container">
            <div class="row">
                <h1>Bienvenido a {{user_data.college_name}}</h1>
                <a class="card me-4" style="width: 12rem;" href="/manager/add-course" *ngIf="user_data.role == 'college_manager'">
                    <div class="card-header">
                        Add Course
                    </div>
                </a>
                <div class="card me-4" *ngFor="let course of user_data.courses" style="width: 12rem;">
                    <div class="card-header">
                        {{course.course_name}}
                        Teacher: {{course.name}}
                    </div>
                </div>
            </div>  
        </div>
    </div>
</main>
