.container {
    text-align: center;
  }
  
  .board {
    display: inline-block;
    margin-top: 20px;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .status {
    margin-top: 20px;
    font-weight: bold;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }

  .titleFlex h1{
    font-family: 'Gooseberry Juice', sans-serif;
    color: var(--white);
    margin: 0px;
}


.titleFlex{
    display: flex;
    align-items: center;

}

.titleFlex a{
    font-size: 20px;
    color: var(--yellow);
    margin-right: 1rem;
    transition: transform .2s;
}

.titleFlex a:hover{
    transform: scale(1.2);
}

.addCourse .boton2 .btn-login:hover {
    border: 2px solid var(--purple);
}
  