<app-loader *ngIf="!dataLoaded"></app-loader>

<main *ngIf="dataLoaded | async">
    <app-navbar [user_details]="user_data"></app-navbar>

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="titleFlex">
                    <a href="/manager/course/{{id_course}}/tasks"><i class="fa-solid fa-angle-left fa-2xl"></i></a> 
                    <h1 class="text-white">{{task_data.title}}</h1>   
                </div>
                <div class="desc">
                    <h6 *ngIf="task_data.description">Description</h6>
                    <p *ngIf="task_data.description">{{task_data.description}}</p>
                </div>

                <div class="file" *ngIf="task_data.type == 'file'">
                    <p>File</p>
                </div>

                <div class="task" *ngIf="task_data.type == 'task'">
                    <p>Task</p>
                </div>

                <div class="forum" *ngIf="task_data.type == 'forum'">
                    <p>Forum</p>
                </div>

                <div class="exam" *ngIf="task_data.type == 'exam'">
                    <p>Exam</p>
                </div>

                <div class="link" *ngIf="task_data.type == 'link'">
                    <p>Link</p>
                </div>

                <div class="page" *ngIf="task_data.type == 'page'">
                    <p>Page</p>
                </div>

            </div>
        </div>
    </div>
</main>