<app-loader *ngIf="!dataLoaded"></app-loader>

<main *ngIf="dataLoaded | async">
    <app-navbar [user_details]="user_data"></app-navbar>

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="titleFlex">
                    <div class="flexing">
                        <a href="/manager/course/{{id_course}}/tasks"><i class="fa-solid fa-angle-left fa-2xl"></i></a> 
                        <h1 class="text-white">{{task_data.title}}</h1>   
                    </div>
                    <a class="btn btn-login">Nuevo Intento</a>
                </div>
                <div class="desc">
                    <h6 *ngIf="task_data.description">Description</h6>
                    <p *ngIf="task_data.description">{{task_data.description}}</p>
                </div>

                <div class="task" *ngIf="task_data.type == 'task'">
                    <div class="taskInfo">
                        <p>Fecha de entrega: 14/15/2002</p>
                        <p>Peso: 10%</p>
                        <p>Disponible después de 6 de mar en 17:10</p>
                        <div class="enun">
                            <span>Enunciado: </span><a href="#">Nombre.pdf</a>
                        </div>
                    </div>
                    
                </div>

                <div class="forum" *ngIf="task_data.type == 'forum'">
                    
                </div>

                <div class="exam" *ngIf="task_data.type == 'exam'">
                    <div class="flex2">
                        <div class="time">
                            <span>20 min</span>
                            <p>Limit Time</p>
                        </div>
                        <div class="date">
                            <span>16/1/2023 13:00</span>
                            <p>Limit Date</p>
                        </div>
                    </div>
                    <hr>
                    <a class="btn btn-login">Start</a>
                </div>

                <div class="page" *ngIf="task_data.type == 'page'">
                    <p>Page</p>
                </div>

            </div>
        </div>
    </div>
</main>