<app-loader *ngIf="!dataLoaded"></app-loader>

<main *ngIf="dataLoaded | async">
    <app-navbar [user_details]="user_data"></app-navbar>

    <div class="main">
        <div class="container">
            <h1 class="text-white" *ngIf="id_course == 0">Create Course</h1>
            <h1 class="text-white" *ngIf="id_course != 0">Edit {{course_data.course_name}}</h1>
            
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <input type="text" ngModel="{{course_data.course_name}}" formControlName="course_name" class="form-control mb-3">
                <select ngModel="{{course_data.id_teacher}}" formControlName="id_teacher" class="form-select mb-3">
                    <option value="">----- Choose a teacher -----</option>
                    <option value="{{teacher.id_user}}" *ngFor="let teacher of teachers">{{teacher.name}}</option>
                </select>
                <input type="file" ngModel="{{course_data.img}}" formControlName="img" class="form-control mb-3">
                <a class="btn btn-danger me-3 text-white" href="/manager">Cancel</a>
                <button class="btn btn-primary" type="submit" *ngIf="id_course != 0">Save</button>
                <button class="btn btn-primary" type="submit" *ngIf="id_course == 0">Create</button>
            </form>
        </div>
    </div>
</main> 
