<header class="site-header">
    <nav>
        <div class="container navFlex">
            <div class="logoNav">
                <a href="/manager">
                    <img src="./assets/img/logo.png" alt="Logo">
                </a>
            </div>

            <div class="elementList">
                <ul class="link">
                    <li class="link2"><a href="#home"><i class="fa-solid fa-folder-open"></i>Cursos</a></li>
                    <li class="link2"><a href="#about"><i class="fa-solid fa-box"></i>Inventario</a></li>
                    <li class="link2"><a href="#contact"><i class="fa-solid fa-trophy"></i>Torneos</a></li>
                    <li class="dropdown link2">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle='dropdown'
                            aria-expanded="false">
                            <img class="userImg" src="{{user_details.profile_img}}" alt="User">{{user_details.nick}}
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/manager/user/{{user_details.id_user}}"><i class="fa-solid fa-user"></i>Profile</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-wrench"></i>Settings</a></li>
                            <li><a class="dropdown-item btn-exit" (click)="logout()" type="button"><i class="fa-solid fa-right-from-bracket"></i>Exit</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>