.imgNick{
    display: flex;
    flex-direction: column;

}

.userData{
    padding: 2rem;
}

.userInfo{
    padding: 1rem;
}

.userData p,  .userData span, .userInfo table tr td, .courses{
    font-family: 'Rubik', sans-serif;
    color: var(--black);
    font-size: 20px;
}

.userInfo table tr td{
    width: 120px;
}

.userData span{
    font-size: 18px;
}

.userData p{
    margin: 0px;
}

.userData{
    text-align: center;
    margin-top: 1rem;
}

.userInfo h2{
    font-family: 'Helsinki', sans-serif;
    color: var(--black);
}

.userTxt{
    margin-top: 1rem;
}

.bold{
    font-weight: bold;
}

.userData {
    position: relative;
    top: 0;
    left: 0;
}

.imgRounded{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.userData .img2{
    position: absolute;
    top: 175px;
    left: 260px;
    height: 120px;
}

.userInfo .btn-primary {
    border-radius: 5px;
    display: block;
    text-align: center;
    justify-content: center ;
    font-family: 'Helsinki', sans-serif;
    background-color: var(--red);
    transition: 500ms;
    color: var(--black);
}

.userInfo .btn-primary:hover {
    background-color: var(--red);
    box-shadow: rgba(255, 0, 0, 0.35) 0px 5px 15px;;
}

.btnSpace{
    margin-top: 20px;
    width: 200px;
}

.courses{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.card{
    background-color: #EBEDF1;
    margin-top: 4rem;
    max-width: 1000px;
    border-radius: 20px;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.progress{
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #eee;
}

.bg-success{
    background-color: var(--purple) !important;
}









