<app-loader *ngIf="!dataLoaded"></app-loader>

<main *ngIf="dataLoaded | async">
    <app-navbar [user_details]="user_data"></app-navbar>

    <div class="main">
        <div class="container">
            <div class="card">
                <h1 class="text-white">Editing {{user_data.nick}}</h1>
                <img src="{{user_data.profile_img}}" width="125" alt="profile image" class="rounded-circle mb-3 mt-3">
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <div class="form-floating mb-3">
                    <input class="form-control" id="nick" placeholder="..." type="text" formControlName="nick" name="nick" ngModel="{{user_data.nick}}">
                    <label for="nick">Nick</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="name" placeholder="..." type="text" formControlName="name" name="name" ngModel="{{user_data.name}}">
                    <label for="name">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="last_name" placeholder="..." type="text" formControlName="last_name" name="last_name" ngModel="{{user_data.last_name}}">
                    <label for="last_name">Last Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="email" placeholder="..." type="email" formControlName="email" name="email" ngModel="{{user_data.email}}">
                    <label for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <select ngModel="{{user_data.role}}" id="role" formControlName="role" class="form-select form-control ">
                        <option value="student">Student</option>
                        <option value="teacher">Teacher</option>
                        <option value="college_manager">College Manager</option>
                    </select>
                    <label for="role">Choose the Role</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="birth_date" placeholder="..." type="date" formControlName="birth_date" name="birth_date" ngModel="{{user_data.birth_date}}">
                    <label for="birth_date">Birth Date</label>
                </div>
                <button class="btn btn-login" type="submit">Save</button>
                <a class="btn btn-exit" href="/manager/user/{{user_data.id_user}}">Cancel</a>
            </form>
        </div>
        </div>
        </div>
</main>
