<app-loader *ngIf="!dataLoaded"></app-loader>

<main *ngIf="dataLoaded | async">
    <app-navbar [user_details]="user_data"></app-navbar>
    <div class="main">
        <div class="container">
          <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="login-card mt-4 ">
                  <div class="card-body fondo-amarillo">
                    <div class="title">
                        <h1 *ngIf="id_task == 0">New Task</h1>
                        <h1 *ngIf="id_task != 0">Edit {{task_data.title}}</h1>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" id="title" placeholder="..." ngModel="{{task_data.title}}" formControlName="title" class="form-control" [ngClass]="(form.controls['title'].invalid && form.controls['title'].touched ? 'is-invalid' : '')">
                        <label for="title">Ttitle</label>
                        <div id="validationServerUsernameFeedback" class="invalid-feedback">
                            Must be at least 2 characters.
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control text-dark" placeholder="Leave a comment here" ngModel="{{task_data.description}}" formControlName="description"></textarea>
                        <label for="floatingTextarea" class="text-dark">Description</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select id="select_category" [ngClass]="(form.controls['id_category'].invalid && form.controls['id_category'].touched ? 'is-invalid' : '')" class="form-select form-control" ngModel="{{task_data.id_category}}" formControlName="id_category" required>
                            <option value=""></option>
                        </select>
                        <label for="select_category">Choose a Category</label>
                        <div id="validationServerUsernameFeedback" class="invalid-feedback">
                            Invalid, Teacher Required.
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <select id="select_category" [ngClass]="(form.controls['type'].invalid && form.controls['type'].touched ? 'is-invalid' : '')" class="form-select form-control" ngModel="{{task_data.type}}" formControlName="type" required>
                            <option value=""></option>
                            <option value="{{type}}" *ngFor="let type of task_types">{{type}}</option>
                        </select>
                        <label for="select_category">Choose a Type</label>
                        <div id="validationServerUsernameFeedback" class="invalid-feedback">
                            Invalid, Type Required.
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" id="title" placeholder="..." ngModel="{{task_data.limit_date}}" formControlName="limit_date" class="form-control">
                        <label for="title">Limit Date</label>
                    </div>
                    
                    <div *ngIf="form.controls['type'].value == 'Task'">
                        task
                    </div>
                    <div *ngIf="form.controls['type'].value == 'Page'">
                        Page
                    </div>
                    <div *ngIf="form.controls['type'].value == 'Link'">
                        Link
                    </div>
                    <div *ngIf="form.controls['type'].value == 'File'">
                        File
                    </div>
                    <div class="buttons w-100">
                      <button class="btn btn-login" type="submit" *ngIf="id_task != 0" [disabled]="alreadySubmit || form.invalid">Save</button>
                      <button class="btn btn-login" type="submit" *ngIf="id_task == 0" [disabled]="alreadySubmit || form.invalid">Create</button>
                      <a class="btn btn-exit" href="{{'/manager/course/' + id_course + '/tasks'}">Cancel</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
    