
<app-loader *ngIf="!dataLoaded"></app-loader>

<main *ngIf="dataLoaded | async">
    <app-navbar [user_details]="user_data"></app-navbar>

    <div class="main mt-4">
        <div class="container">
          <div class="row">
            <div class="addCourse mb-4">
              <div class="titleFlex">
                <a href="/manager/course/{{id_course}}" class="mt-2"><i class="fa-solid fa-angle-left fa-2xl"></i></a>
                <span class="h1 align-middle">SHOP</span>
              </div>
              <div class="pull-right d-inline-block">
                <span class="d-inline-block h1 text-white">Next Shop: {{course_data.next_shop}}</span>
              </div>
            </div>
            
            <div class="row" *ngIf="course_data.shop.items">
              <div class="d-flex col-md-3 align-items-stretch" *ngFor="let item of course_data.found_items">
                <div class="card my-3">
                  <img src="{{item.img ? item.img : 'assets/img/defaultCourse.jpg'}}" class="card-img-top" alt="...">
                  <div class="card-body">
                      <hr>
                      <span class="h3">{{item.name}}</span><br>
                      <span>{{item.description}}</span><br><br>

                      <button class="btn btn-outline-success w-100" (click)="buyItem(item.id, item.price)">Buy For {{item.price}} <i class="fa-solid fa-gem mx-1" style="color: #0de74f;"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
</main>