.titleFlex .h1{
    font-family: 'Gooseberry Juice', sans-serif !important;
    color: var(--white);
    margin: 0px;
}

.main{
    font-family: 'Rubik', sans-serif;
}


.titleFlex{
    display: inline-block;
    vertical-align: baseline;
}

.titleFlex a{
    font-size: 20px;
    color: var(--yellow);
    margin-right: 1rem;
    transition: transform .2s;
}

.titleFlex a:hover{
    transform: scale(1.2);
}

.addCourse{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.card {
    width: 18rem !important;
}

