<app-loader *ngIf="!dataLoaded"></app-loader>

<main *ngIf="dataLoaded | async">
    <app-navbar [user_details]="user_data"></app-navbar>
    <div class="main mt-3">
        <div class="container">
            <div class="addCourse mb-4">
                <div class="titleFlex">
                    <div class="navFlex">
                        <a href="/manager/course/{{id_course}}"><i class="fa-solid fa-angle-left fa-2xl"></i></a> 
                        <h1 class="text-white">Programación</h1>
                    </div>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-profile" aria-selected="true"><i class="fa-solid fa-house"></i> Home</button>
                            <button class="nav-link" id="nav-content-tab" data-bs-toggle="tab" data-bs-target="#nav-content" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fa-solid fa-list-check"></i> Content</button>
                            <button class="nav-link" id="nav-forum-tab" data-bs-toggle="tab" data-bs-target="#nav-forum" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fa-brands fa-wpforms"></i> Forum</button>
                            <button class="nav-link" id="nav-marks-tab" data-bs-toggle="tab" data-bs-target="#nav-marks" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fa-solid fa-square-check"></i> Marks</button>
                        </div>
                    </nav>
                </div>
                
            </div>

            
            
            <div class="tab-content" id="nav-tabContent">
            <!--home Tab-->
            <div class="tab-pane  fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="">
                    
                    
                    


                </div>
            </div>
            <!--End home Tab-->

            <!--content Tab-->
            <div class="tab-pane show active fade" id="nav-content" role="tabpanel" aria-labelledby="nav-content-tab">
                <div class="">
                    
                  
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          UF1
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <a href=""><i class="fa-solid fa-paperclip"></i> File.zip</a>
                        </div>
                      </div>

                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <a href=""><i class="fa-solid fa-file-pen"></i> Task 1</a>
                        </div>
                      </div>

                    </div>
                  </div>


                </div>
            </div>
            <!--End content Tab-->

            <!--forum Tab-->
            <div class="tab-pane fade" id="nav-forum" role="tabpanel" aria-labelledby="nav-forum-tab">
                <div class="">
                    <h2>Forum</h2>
                </div>
            </div>
            <!--End forum Tab-->

            <!--marks Tab-->
            <div class="tab-pane fade" id="nav-marks" role="tabpanel" aria-labelledby="nav-marks-tab">
                <div class="">
                    <h2>Marks</h2>
                </div>
            </div>
            <!--End marks Tab-->
        </div>
        </div>

    </div>
</main>
