.titleFlex h1{
    font-family: 'Gooseberry Juice', sans-serif;
    color: var(--white);
    margin: 0px;
}

.titleFlex{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: space-between;
}

.navFlex{
    display: flex;
    align-items: center;
}

.titleFlex a{
    font-size: 20px;
    color: var(--yellow);
    margin-right: 1rem;
    transition: transform .2s;
}

.titleFlex a:hover{
    transform: scale(1.2);
}


.accordion-collapse{
    border: 1px solid var(--black);
    border-radius: 0px !important;
    margin: 0px;
}

.accordion{
    border-radius: 0px !important;
}




