<div class="login-container">
    <div class="container">
        <form [formGroup]="form" autocomplete="off" >
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card login-card mt-4">
                        <div class="text-center container">
                            <img src="assets/img/Logo.png" alt="" width="600" class="img-fluid">
                        </div>

                        <div class="card-body">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nameInput" name="username" placeholder="exampleUser" formControlName="username"/>
                                <label for="nameInput">Username</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="emailInput" name="email" placeholder="name@example.com" formControlName="email"/>
                                <label for="emailInput">Email</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="passwordInput" placeholder="Password" formControlName="password"/>
                                <label for="passwordInput">Password</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="cpasswordInput" placeholder="Confirm Password" formControlName="cpassword"/>
                                <label for="cpasswordInput">Confirm Password</label>
                            </div>

                            <div class="alert alert-danger" *ngIf="error == 'passwords'">
                                Passwords do not match.
                            </div>

                            <div class="alert alert-danger" *ngIf="error == 'email'">
                                A user with that email already exists
                            </div>

                            
                            <div class="alert alert-danger" *ngIf="error == 'username'">
                                A user with that username already exists
                            </div>

                            <button type="submit" class="btn btn-login w-100 mt-1">Register Account</button>
                            <p class="text-center mt-2">Already have an account? <a href="/login">Access here</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </form>
    </div>

</div>
