
<app-loader *ngIf="!dataLoaded"></app-loader>

<main *ngIf="dataLoaded | async">
    <app-navbar [user_details]="user_data"></app-navbar>

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="addCourse mb-4">
                    <div class="titleFlex">
                        <a href="/manager/course/{{id_course}}"><i class="fa-solid fa-angle-left fa-2xl"></i></a> 
                        <h1>Ranking</h1>
                    </div>
                    <div class="boton2">
                        <button *ngIf="ranking_list" (click)="changeType()" class="btn btn-login">CHANGE to grafic</button>  
                        <button *ngIf="!ranking_list" (click)="changeType()" class="btn btn-login">CHANGE to Table</button>
                    </div>
                </div>
                
                <div *ngIf="ranking_list">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nick</th>
                            <th scope="col">Nº de Pepas</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let user of ranking; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>@{{user.nick}}</td>
                            <td>{{user.pepas}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>         

                <div *ngIf="!ranking_list">
                    Grafic
                </div> 
                <div class="balls mt-5" >
                  <a href="/manager/course/{{id_course}}/users" class="btn btn-login flexDentro"><i class="fa-solid fa-address-book fa-2xl"></i> User List</a>
                  <a href="/manager/course/{{id_course}}/ranking" class="btn btn-login flexDentro active"><i class="fa-solid fa-ranking-star fa-2xl"></i> Ranking</a>
                  <a href="/manager/course/{{id_course}}/requests" class="btn btn-login flexDentro">
                      <i class="fa-solid fa-code-pull-request fa-2xl"></i> 
                      Requests
                      <span class="badges">3</span>
                  </a>
                  <a href="/manager/course/{{id_course}}/shop" class="btn btn-login flexDentro"><i class="fa-solid fa-shop fa-2xl"></i> Shop</a>
                  <a href="/manager/course/{{id_course}}/shop" class="btn btn-login flexDentro"><i class="fa-solid fa-list-check fa-2xl"></i> Tasks</a>
              </div>
            </div>  
        </div>
    </div>
    <br>
</main>