/* Fuentes Principales */
@import url('https://fonts.cdnfonts.com/css/helsinki');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/*Variables de colores*/
:root {
  --purple: #351f41;
  --yellow: #FFB544;
  --white: #fff;
  --black: #000;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

/*Login y registro*/
.login-container {
  background-image: url("/assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  display: flex;
}

.login-card {
  align-items: center;
  justify-content: center;
}

.card-body {
  border-radius: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--yellow);
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Boton Login*/
.btn-login {
  width: 100%;
  border-radius: 15px;
  height: 40px;
  margin-top: 20px;
  font-family: 'Helsinki', sans-serif;
  font-size: large;
  color: var(--purple);
  background-color: transparent;
  border: 2px solid var(--purple);
  transition: .3s transform ease-in-out;
  will-change: transform;
  overflow: hidden;
  z-index: 0;
}

.btn-login::after {
  background-color: var(--purple);
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: .3s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.btn-login:hover::after {
  transform: translate(0, 0);
}

.btn-login:hover {
  color: var(--yellow);
  background-color: var(--purple);
  border: 2px solid transparent;
  transform: scale(1.05);
  will-change: transform;
}

/* END Boton Login*/

.text-center {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
}

.form-floating label {
  font-family: 'Helsinki', sans-serif;
  color: var(--white);
}

.form-floating input {
  font-family: 'Rubik', sans-serif;
  border-radius: 15px;
  border: 2px solid transparent;
  color: var(--white);
  padding-left: 10px;
  background-image: linear-gradient(#AF0AEB, #73009C);
}

.form-floating {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo {
  width: 270px;
}

.form-control:focus {
  border-color: #AF0AEB !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #AF0AEB;
}

.form-floating input:focus {
  color: var(--white);
}

/*End Login y registro*/
