.titleFlex h1{
    font-family: 'Helsinki', sans-serif;
    color: var(--white);
    margin: 0px;
}


.titleFlex{
    display: flex;
    align-items: center;

}

.titleFlex a{
    font-size: 20px;
    color: var(--yellow);
    margin-right: 1rem;
    transition: transform .2s;
}

.titleFlex a:hover{
    transform: scale(1.2);
}

.addCourse{
    margin-top: 1rem;
}