
<app-loader *ngIf="!dataLoaded"></app-loader>

<main *ngIf="dataLoaded | async">
    <app-navbar [user_details]="user_data"></app-navbar>

    <div class="main">
        <div class="container">
            <div class="row">
                <h1>CURSO {{course_data.course_name}}</h1>   
                
                <a href="/manager/course/{{id_course}}/users" class="btn btn-primary mb-3">User_List</a>
                <a href="/manager/course/{{id_course}}/ranking" class="btn btn-primary">Ranking</a>
            </div>  
        </div>
    </div>
    <br>
</main>