
<app-loader *ngIf="!dataLoaded"></app-loader>

<main *ngIf="dataLoaded | async">
    <app-navbar [user_details]="user_data"></app-navbar>

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="titleFlex">
                    <a href="/manager"><i class="fa-solid fa-angle-left fa-2xl"></i></a> 
                    <h1 class="text-white">CURSO {{course_data.course_name}} - {{this.code}} <button class="btn btn-secondary btn-refresh" (click)="refreshCode()" [disabled]="refreshDisabled"><i class="fa-solid fa-arrows-rotate first-child"></i></button></h1>   
                </div>
                
                <a href="/manager/course/{{id_course}}/users" class="btn btn-primary mb-3">User_List</a>
                <a href="/manager/course/{{id_course}}/ranking" class="btn btn-primary mb-3">Ranking</a>
                <a href="/manager/course/{{id_course}}/requests" class="btn btn-primary">({{course_data.requests.length}}) Requests</a>
            </div>  
        </div>
    </div>
    <br>
</main>