<app-loader *ngIf="!dataLoaded"></app-loader>

<main *ngIf="dataLoaded | async">
  <app-navbar [user_details]="user_data"></app-navbar>

  <div class="main mt-3">
    <div class="container">
      <div class="row">
        <div class="addCourse mb-4">
          <div class="titleFlex">
              <div class="">
                <a href="/manager"><i class="fa-solid fa-angle-left fa-2xl"></i></a>
                <h1>User list</h1>
              </div>
              <button type="button" data-bs-toggle="modal" data-bs-target="#textHTML" class="btn btn-login m-0"><i class="fa-solid fa-user me-2"></i> Add User</button>
          </div>
        </div>

        
        <div class="card mb-3" *ngFor="let user of user_list">
            <div class="card-body">
              <div class="align-middle">
                <a style="float: left;" class="d-inline-block" href="/manager/user/{{user.id_user}}" target="_blank">
                  <img src="{{user.profile_img}}" alt="" class="d-inline-block imgList">
                  <span class="ms-4"><b>{{user.name}} {{user.last_name}}</b></span>
                  <span class="ms-2">@{{user.nick}}</span>
                </a>
                <div style="float:right;" class="d-inline-block"
                  *ngIf="user_data.role == 'teacher' || user_data.role == 'college_manager' || user_data.role == 'admin'">
                  <span class="me-4">Pepas: {{user.pepas}}</span>
                  <button class="btn btn-success me-3" (click)="this.editingUser = user.id_user" type="button"
                    data-bs-toggle="modal" data-bs-target="#addGems"><i class="fa-regular fa-gem"></i></button>
                  <a class="btn btn-secondary me-3 text-white" href="/manager/user/edit/{{user.id_user}}"><i
                      class="fa-regular fa-pen-to-square"></i></a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>    
  <br>
</main>

        <!-- Modal -->
        <div class="modal fade home-modal" id="textHTML" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <form action="" (ngSubmit)="addUser()" [formGroup]="form">
              <div class="modal-header">
                
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add user to the college</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="form-floating mb-3">
                    <input class="form-control" id="name" placeholder="..." type="text" formControlName="name" name="name" >
                    <label for="name">Name</label>
                    <div id="validationName" class="invalid-feedback">
                        Must be at least 4 characters.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="last_name" placeholder="..." type="text" formControlName="last_name" name="last_name" >
                    <label for="last_name">Last Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control"  id="email" placeholder="..." type="email" formControlName="email" name="email" >
                    <label for="email">Email</label>
                    <div id="validationEmail" class="invalid-feedback">
                        Invalid Email Address
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <select id="role" formControlName="role" class="form-select form-control">
                        <option value="student">Student</option>
                        <option value="teacher">Teacher</option>
                        <option value="college_manager">College Manager</option>
                    </select>
                    <label for="role">Choose the Role</label>
                    <div id="validationRole" class="invalid-feedback">
                        Choose A Valid Role
                    </div>
                </div>
                
              </div>
              <div class="ms-3 me-3 mb-3">
                  <button type="submit" class="btn btn-login m-0"><i class="fa-solid fa-plus me-2"></i> Add User</button>
                  <button type="button" class="btn btn-exit mt-1" data-bs-dismiss="modal" #closeGemsButton>Cancel</button>
              </div>
            </form>
            </div>
          </div>
        </div>
